@col-blue:      	#071039;
@col-light:    	 	#fff;
@col-dark:      	#000;
@col-accent:    	#32a3a3;

@col-border:		#ffffff;
@col-bg:			@col-dark;

@path-images:   	"../img";

// Paddings and margins for project
@margin-top:   		20px;
@margin-left:   	20px;
@margin-right:   	20px;
@margin-bottom:   	20px;

@padding-top:   	20px;
@padding-left:  	20px;
@padding-right: 	20px;
@padding-bottom: 	20px;


// Classic formats for dimensions

// Square M.P.U.
@width-mpu:         		300px;
@height-mpu:        		250px;


// Wide Leaderboard
@width-leaderboard:			728px;
@height-leaderboard: 		90px;


// Tall Skyscraper
@width-skyscraper:			120px;
@height-skyscraper: 		600px;

@width-wide-skyscraper:		160px;
@height-wide-skyscraper: 	@height-skyscraper;


// Standard Banner
@width-banner:				468px;
@height-banner: 			60px;

@width-half-banner:			234px;
@height-half-banner: 		@height-banner;

@width-vertical-banner:		120px;
@height-vertical-banner: 	240px;


// Half a page Advert
@width-half-page:			300px;
@height-half-page: 			600px;



// Import our other css files directly into this one
@import "reset";
@import "typography";
@import "buttons";


// Loading animation - removed almost immediately
#content.loading{

    .mpu{
        background:transparent url( '@{path-images}/spinner.gif' ) no-repeat center center;
    }
}


// Main Container (should be set to the size of the MPU)
#content{

	width:100%;
    height:100%;
    background:@col-bg url( '@{path-images}/wall.png' ) repeat-x;
	
	.banner,
	.vertical-banner,
	.mpu,
	.skyscraper,
	.leaderboard,
	.half-page,
	.wide-skyscraper {
		display:block;
        position:relative;
		overflow:hidden;    // make sure that the elements can fall outside this
	}
	
	// Resize
	.banner{
		width:@width-banner;
		height:@height-banner;
	}
	.vertical-banner{
		width:@width-vertical-banner;
		height:@height-vertical-banner;
	}
	.mpu{
        width:@width-mpu;
		height:@height-mpu;
	}
	.skyscraper{
        width:@width-skyscraper;
		height:@height-skyscraper;
	}
	.leaderboard{
		width:@width-leaderboard;
		height:@height-leaderboard;
	}
	.half-page{
		width:@width-half-page;
		height:@height-half-page;
	}
	.wide-skyscraper{
		width:@width-wide-skyscraper;
		height:@height-wide-skyscraper;
	}
}


// Convert an element into a full sized border
.border{
	width:(@width-mpu - 2);
    height:(@height-mpu - 2);
	border: @col-border 1px solid;
}



#first,
#second,
#third,
#fourth,
#fifth,
#cta{
    visibility: hidden;
	position:absolute;
}

// Animated Elements
#first{
    z-index:5;
}

#second{
    z-index:1;
}

#third{
    z-index:3;
}


#fourth{
    z-index:6;
}

#fifth{
    z-index:6;
}


// This is the Call To Action Button
#cta{

    a{
        display:block;
        position:relative;
    }

}
