doctype html
html(class='no-js')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title= title
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/style.css")
	body
		#content.loading
			block content
			
		block scripts
			//- These defaults should be fine for most campaigns
			//- but if you are using ther APIs add them here in your template
			
		script(src='js/main.js')