//-
	doctype html
    <!DOCTYPE html>

	doctype xml
	<?xml version="1.0" encoding="utf-8" ?>

	doctype transitional
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	doctype strict
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

	doctype frameset
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">

	doctype 1.1
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

	doctype basic
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">

	doctype mobile
	<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">

doctype html
//- Internet Explorer 4,5&6
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//- Internet Explorer 7
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//- Internet Explorer 8
//if IE 8
	<html class="no-js lt-ie9">
//- Internet Explorer 9+ & other browsers
//[if gt IE 8]><!
html(lang="en", class="no-js")
	//<![endif]
