doctype html
//- Internet Explorer 4,5&6
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//- Internet Explorer 7
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//- Internet Explorer 8
//if IE 8
	<html class="no-js lt-ie9">
//- Internet Explorer 9+ & other browsers
//[if gt IE 8]><!
html(lang="en", class="no-js")
	//<![endif]
