// Project #{title}
// Version #{version}
// Type #{type}
extends partials/base.jade

block main

	#first
		h1
		h2
		img#logo( src="img/png/#{type}_logo.png" )
		
	#second

	#third

	#fourth

	#fifth
		#cta
			a#button( title="View offers", href='#' ) Call To Action
